*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.bgmain__reload{
    user-select: none;
    position: relative;
}

.hidden__modal{
    width: 305px;
    height: 52px;
    left: -35px;
    top: 355px;
    position: absolute;
    z-index: 999;
}

#main{
    font-family: tahoma, arial;
}
/* fix */
/* header */
#header{
    height: 66px;
    background-color: rgba(17,17,17,0.75);
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 999;
    opacity: 0.8;
    white-space: nowrap;
    user-select: none;
}

#header .header__left {
    display: flex;
    margin-left: 100px;
}
.header__logo{
    max-height: 66px;
    padding-right: 60px;
    position: relative;
}

.header__musicHide{
    width: 35px;
    height: 33px;
    transform: translate(50%, 50%);
    position: absolute;
    top: 0;
    left: 0;
    background: url("/genshin/assets/img/header__musicPause.png") center/cover no-repeat;
}

.header__musicShow{
    width: 35px;
    height: 33px;
    transform: translate(50%, 50%);
    position: absolute;
    top: 0;
    left: 0;
    background: url("/genshin/assets/img/header__musicPlay.png") center/cover no-repeat;
    visibility: hidden;
}

.header__logo img {
    height: 66px;
    width: 100%;
}

.nav{
    list-style-type: none;
    display: flex;
    position: absolute;
    left: 25%;
}

.nav > li{
    line-height: 60px;
    margin: 0 15px;
    position: relative;
    border-top: 6px rgba(0,0,0,0) solid;
}
/* end fix */

.nav >li:hover {
    border-top: 6px #69e0ff solid;
}

.nav .border__original {
    border-top: 6px #69e0ff solid;
    text-shadow: 0 0 10px #69e0ff, 0 0 20px #69e0ff, 0 0 40px #69e0ff;
}

.nav .subnav {
    position: absolute;
    background-color: #010101;
    color: #fff;
    min-width: 200px;
    left: 0;
    top: 100%;
    list-style-type: none;
    display: none;
}

.nav li:hover .subnav {
    display: block;
}

.nav .subnav li:hover {
    background-color: #272626;
    color: #fff;
}

.nav .subnav li{
    display: block;
}

.subnav > li {
    padding-left: 15px;
}

.nav .subnav a {
    color: #fff;
    font-size: 14px;
}

.nav li a{
    color: #bbb9ba;
    text-decoration: none;
}

.nav > .border__original > a {
    color: #fff;
}

.nav > li:hover > a{
    color: #fff;
    text-shadow: 0 0 10px #69e0ff, 0 0 20px #69e0ff, 0 0 40px #69e0ff;
}

.header__nav .nav__arrow-down {
    margin-left: 5px;
}

.nav__right{
    list-style-type: none;
}

.nav__right li {
    display: inline-block;
    line-height: 66px;
    padding: 0 15px;
}

.nav__right li a {
    color: #bbb9ba;
    text-decoration: none;
}
.nav__right > li:hover >a {
    color: #fff;
    text-shadow: 0 0 10px #69e0ff, 0 0 20px #69e0ff, 0 0 40px #69e0ff;
}

.nav__right .navr__user{
    margin-left: 5px;
}
.nav__right .header__download{
    padding: 0 50px;
    background-color:#ffcf0d;
}

.nav__right > .header__download > a {
    color: #534328;
}

.layout {
    width: 100%;
    height: 800px;
    position: absolute;
    top: 0;
}

/* content */
.char__wrap{
    width: 100%;
    height: 800px;
    position: relative;
}
/* bg main Mond */
.bg__wrap-mondstadt{
    width: 100%;
    height: 100%;
    position: absolute;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    animation-name: bgforward_mondstadt;
    animation-duration: 30s; 
    animation-iteration-count: infinite;
}
/* bg main liyue */
.bg__wrap-liyue{
    width: 100%;
    height: 100%;
    position: absolute;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    animation-name: bgforward_liyue;
    animation-duration: 30s; 
    animation-iteration-count: infinite;
    
}

/* bg main inazuma */
.bg__wrap-inazuma{
    width: 100%;
    height: 100%;
    position: absolute;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    animation-name: bgforward_inazuma;
    animation-duration: 30s; 
    animation-iteration-count: infinite;
}


@keyframes bgforward_mondstadt {
    from {
        background-image:url(/genshin/assets/img/char/bg-main1.jpg) ;
    }
    50% {
        background-image:url(/genshin/assets/img/char/bg-main2.jpg) ;
    }
    to{
        background-image:url(/genshin/assets/img/char/bg-main1.jpg) ;
    }
}

@keyframes bgforward_liyue {
    from {
        background-image:url(/genshin/assets/img/char/bg-main2.jpg) ;
    }
    50% {
        background-image:url(/genshin/assets/img/char/bg-main3.jpg) ;
    }
    to{
        background-image:url(/genshin/assets/img/char/bg-main2.jpg) ;
    }
}

@keyframes bgforward_inazuma {
    from {
        background-image:url(/genshin/assets/img/char/bg-main1-inazuma.jpg) ;
    }
    50% {
        background-image:url(/genshin/assets/img/char/bg-main2-inazuma.jpg) ;
    }
    to{
        background-image:url(/genshin/assets/img/char/bg-main1-inazuma.jpg) ;
    }
}

.sidebar{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 270px;
    height: 100%;
    padding-top: 200px;
    margin-left: 35px;
    border-left: 1px solid rgba(255,255,255,0.3);
    color: #fff;
    z-index: 10;
}

.list__sidebar {
    list-style-type: none;
    margin-left: -36px;
}

.list__bgsidebar{
    text-align: center;
    padding-right: 50px;
    height: 52px;
    line-height: 52px;
    cursor: pointer;
    background-image: url(/genshin/assets/img/char/dotsidebar.jpg);
    background-repeat: no-repeat;
    background-position: left;
    margin-left: 15px;
    position: relative;
    z-index: 10;
}

.list__bgsidebar.bgshow{
    background-image: url(/genshin/assets/img/char/lisidebar.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 0;
    height: 52px;
    position: relative;
}

.list__sidebar a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    white-space: nowrap;
}

.content__charwrap {
    width: 100%;
    height: 800px;
    position: absolute;
    top: 0;
}

.charmain_wrap-content{
    height: 800px;
    width: 100%;
    position: absolute;
    top: 0;
    background-image: url(/genshin/assets/img/char/charbg-main.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.list__char-hidden{
    display: none;
}

.char__imgwrap{
    position: relative;
    width: 100%;
    height: 800px;
    overflow: hidden;
}


.char__bg1{
    position: absolute;
    height: 800px;
    /* width: 100%; */
    padding-left: 220px;
    /* transform: scaleX(1.2); */
}

.char__bg2{
    position: absolute;
    width: 350px;
    height: 350px;
    margin-top: 75px;
    margin-left: 200px;
    opacity: 0.1;
}

.char__content {
    position: absolute;
    top: 0;
    margin: 100px 0 0 270px;
}

.char__name {
    font-size: 50px;
    color: #fff;
    border-top: 5px solid #cda574;
    padding-top: 25px;
    margin-bottom: 5px;
    width: 180px;
    user-select: none;
    font-family: Didot;
}

.char__cv{
    display: flex;
    align-items: center;
}

.cv__text{
    display: flex;
    position: relative;
}

.cv__img-dot {
    width: 65px;
    height: 65px;
}

.cv__img-dot img , .cv__micro img{
    width: 100%;
    height: 100%;
}

.cv__text .cv__name{
    background-color: #cda574;
    line-height: 65px;
    padding-right: 80px;
    font-size: 18px;
    font-weight: lighter;
    position: relative;
}

.cv__name h2 {
    font-size: 24px;
    font-weight: lighter;
    color: #24333c;
    user-select: none;
}

.cv__micro{
    width: 77px;
    height: 77px;
    margin-left: -6px;
    position: relative;
    cursor: pointer;
    background-image: url(/genshin/assets/img/char/micro.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.cv__micro-open{
    position: absolute;
    right: 0;
    width: 77px;
    height: 77px;
    cursor: pointer;
    background-image: url(/genshin/assets/img/char/micro-open.jpg);
    background-position: center;
    background-repeat: no-repeat;
    display: none;
}

.cv__micro-open.open{
    display: block;
}

.cv__switch{
    margin-left: 25px;
    padding: 0 5px;
    height: 32px;
    line-height: 32px;
    background-color: #24333c;
    color: #dbb17d;
    border-radius: 15px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.switch__JP{
    padding-right: 10px;
    font-weight: lighter;
}

.char__info{
    display: flex;
    width: 550px;
    height: 150px;
    margin-top: 15px;
    padding: 10px;
    padding-right: 0;
    background-color: rgba(1,1,1,0.5);
    color: #fff;
}

.dot__content {
    margin-right: 15px;
}

.text__content {
    font-size: 16px;
    line-height: 1.6;
    padding-right: 5px;
    height: 100%;
    width: 550px;
    text-align: left;
    overflow-y: scroll;
    transition: 3s;
}

.text__content::-webkit-scrollbar{
    width: 5px;
}

.text__content::-webkit-scrollbar-thumb{
    background-color: #cfc8bc;
    border-radius: 10px;
}

.text__content::-webkit-scrollbar-thumb:hover{
    background-color: #faf9fa;
}

.char__page{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 200px;
    background-color: rgba(204,204,204,0.2);
    display: flex;
    align-items: center;
    user-select: none;
}

.char__listwrap{
    width: 60%;
    margin: 0 auto;
    height: 190px;
}

.list__char-slide{
    list-style-type: none;
    display: flex;
    align-content: center;
    overflow-x: hidden;
}

.list__char-slide::-webkit-scrollbar{
    height: 10px;
}

.list__char-slide::-webkit-scrollbar-thumb{
    background-color: #fff;
    border-radius: 5px;
}

.btn__pre{
    background: url(/genshin/assets/img/char/btn-pre.jpg) no-repeat center;
    width: 64px;
    position: absolute;
    z-index: 12;
    height: 64px ;
    left: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.btn__next{
    background: url(/genshin/assets/img/char/btn-next.jpg) no-repeat center;
    width: 64px;
    position: absolute;
    z-index: 12;
    height: 64px;
    right: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.list__char-slide li {
    min-width: 110px;
    height: 150px;
    margin: 20px 12px 0;
    position: relative;
    z-index: 10;
    padding: 1px;
    padding-bottom: -28px;
    background-image: url(/genshin/assets/img/char/bg__avawrap.jpg);
}
/* active */
.active{
    background-color: #fff;
    color: #000;
}

.name__avachar.active{
    background-color: #fff;
    color: #000;
}

.list__char-slide li:hover {
    background-color: #fff;
}

.list__char-slide li:hover .name__avachar{
    color: #000;
    background-color: #fff;
}

.list__char-slide a{
    text-decoration: none;
    height: 0px;
}
.ava__char{
    width: 100%;
    height: auto;
}

.name__avachar{
    position: absolute;
    color: #fff;
    height: 40px;
    width: 108px;
    text-align: center;
    bottom: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    cursor: pointer;
    user-select: none;
}

/* footer */
#footer{
    position: relative;
    width: 100%;
    background-color: #111;
    z-index: 20;
}

.footer__top{
    height: 52px;
    line-height: 52px;
    display: flex;
    justify-content: space-between;
}

.footer__icons {
    margin-left: 40px;
    font-size: 30px;
}

.footer__icons .list__icons {
    list-style-type: none;
    display: flex;
}

.list__icons li{
    padding: 0 16px;
}

.list__icons li:hover a{
    color: #fff;
}

.list__icons a{
    text-decoration: none;
    color: #999;
}

.footer__languages{
    font-size: 30px;
    margin-right: 40px;
}
.languages__block {
    display: flex;
    list-style-type: none;
}
.languages__block li{
    padding: 0 12px;
    position: relative;
}

.languages__block a{
    text-decoration: none;
    color: #999;
}

.languages__block li p{
    font-size: 18px;
    user-select: none;
}

.languages__block > li > .footer__ic-arrow {
    font-size: 20px;
    padding-bottom: 10px;
}

.footer__languages-wrap {
    display: none;
}

.footer__languages .list__languages {
    position: absolute;
    z-index: 5;
    width: 500px;
    height: 160px;
    right: 0px;
    top: -160px;
    font-size: 18px;
    background: #222;
    color: #999;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    list-style-type: none;
    align-items: center;
    user-select: none;
}

.footer__languages li {
    padding: auto;
}

.list__languages li:hover a {
    color: #fff;
}

.footer__main {
    background-color: #111;
    padding: 40px 0px;
}

.footer__wrap {
    margin: 0 auto;
    color: #999;
}

.footer__content {
    display: flex;
    align-items: center;
}

.footer__content-logo , .footer__content-info{
    width: 45%;
}

.footer__content-logo {
    display: flex;
    align-items: center;
    margin-left: 15%;
}

.footer__content-logo .img__logo , .footer__content-logo .img__game {
    padding: 0 20px;
}

.footer__content-logo .img__logo {
    border-right: #fff solid 1px;
}

.footer__content-info {
    margin-right: 10%;
}

.footer__content-info .text {
    padding: 10px 0px;

}

.footer__content-info .links a{
    text-decoration: none;
    color: #999;
    border-left: #fff solid 1px;
    padding: 2px 10px 0px;
}

.footer__content-info .links a:hover {
    color: #fff;
    text-decoration: underline;
}

.footer__content-info .coppy__right {
    color: #fff;
    font-size: 18px;
}

.footer__content-info .extra__info {
    font-size: 14px;
}

/* creative overlay */
.modal {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.4);
    /* sd để ẩn modal đi */
    display: none;
    /* display: flex; */
    justify-content: center;
    align-items: center;
}

.modal.open {
    display: flex;
}

.modal__container {
    background-color: #fff;
    width: 800px;
    max-width: calc(100% - 32px); /* khi thu nho man duoi 800px se co khoang cach 2 ben la 32px ~~ responsive*/
    min-height: 300px;
    animation: modalFadeIn ease 0.5s ;
}

.modal__header {
    background-color: #000;
    opacity: 0.3;
    height: 70px;
    width: auto;
    text-align: center;
}

.modal__header img {
    height: 100%;
}

.modal__close {
    font-size: 24px;
    float: right;
}

.modal__close:hover .modal__close-ic {
    background-color: red;
    color: #fff;
}

.modal__close-ic {
    padding: 10px;
    cursor: pointer;
    color: #ccc;
}

.modal__body {
    padding: 10px;
    padding-top: 50px;
    margin: 0 24px;
}

.modal__label , .modal__login{
    display: block;
    font-size: 18px;
    margin-bottom: 12px;
}

.modal__input-user , .modal__input-pass {
    width: 100%;
    border: 1px #ccc solid;
    padding: 10px;
    margin-bottom: 22px;
}

.modal__login {
    width: 100%;
    padding: 10px;
    font-size: 22px;
    background-color: #3b4354;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}

.modal__login:hover {
    opacity: 0.8;
}

.modal__footer {
    margin: 0 34px;
}

.modal__footer-head {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    padding: 10px;
    margin-top: -10px;
}


.modal__footer-head a {
    text-decoration: none;
    color: #000;
}

.modal__footer-head a:hover{
    opacity: 0.3;
}

.modal__footer-subhead {
    text-align: center;
    opacity: 0.3;
}

.modal__footer-icon {
    width: 50px;
    height: 50px;
    display: flex;
    margin: 12px auto;
}

.modal__footer-icon img {
    width: 100%;
    height: 100%;
    margin: 0 15px;
    cursor: pointer;
}

.modal__footer-icon img:hover {
    opacity : 0.8;
}

@keyframes modalFadeIn {
    from {
        transform: translateY(-200px);
        opacity: 0;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

/* responsive */
.header-nav__menu{
    display: none;
}
/* update header fix*/
.nav.block{
    display: block;
}

.nav__close{
    display: none;
}

.sidebar__btn-click{
    display: none;
}
