* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#main{
    font-family: tahoma, arial;
}
/* fix */
/* header */
#header{
    height: 66px;
    background-color: rgba(17,17,17,0.75);
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 999;
    opacity: 0.8;
    white-space: nowrap;
    user-select: none;
}

#header .header__left {
    display: flex;
    margin-left: 100px;
}
.header__logo{
    max-height: 66px;
    padding-right: 60px;
    position: relative;
}

.header__musicHide{
    width: 35px;
    height: 33px;
    transform: translate(50%, 50%);
    position: absolute;
    top: 0;
    left: 0;
    background: url("/genshin/assets/img/header__musicPause.png") center/cover no-repeat;
}

.header__musicShow{
    width: 35px;
    height: 33px;
    transform: translate(50%, 50%);
    position: absolute;
    top: 0;
    left: 0;
    background: url("/genshin/assets/img/header__musicPlay.png") center/cover no-repeat;
    visibility: hidden;
}

.header__logo img {
    height: 66px;
    width: 100%;
}

.nav{
    list-style-type: none;
    display: flex;
    position: absolute;
    left: 25%;
}

.nav > li{
    line-height: 60px;
    margin: 0 15px;
    position: relative;
    border-top: 6px rgba(0,0,0,0) solid;
}
/* end fix */

.nav >li:hover {
    border-top: 6px #69e0ff solid;
}

.nav .border__original {
    border-top: 6px #69e0ff solid;
    text-shadow: 0 0 10px #69e0ff, 0 0 20px #69e0ff, 0 0 40px #69e0ff;
}

.nav .subnav {
    position: absolute;
    background-color: #010101;
    color: #fff;
    min-width: 200px;
    left: 0;
    top: 100%;
    list-style-type: none;
    display: none;
}

.nav li:hover .subnav {
    display: block;
}

.nav .subnav li:hover {
    background-color: #272626;
    color: #fff;
}

.nav .subnav li{
    display: block;
}

.subnav > li {
    padding-left: 15px;
}

.nav .subnav a {
    color: #fff;
    font-size: 14px;
}

.nav li a{
    color: #bbb9ba;
    text-decoration: none;
}

.nav > .border__original > a {
    color: #fff;
}

.nav > li:hover > a{
    color: #fff;
    text-shadow: 0 0 10px #69e0ff, 0 0 20px #69e0ff, 0 0 40px #69e0ff;
}

.header__nav .nav__arrow-down {
    margin-left: 5px;
}

.nav__right{
    list-style-type: none;
}

.nav__right li {
    display: inline-block;
    line-height: 66px;
    padding: 0 15px;
}

.nav__right li a {
    color: #bbb9ba;
    text-decoration: none;
}
.nav__right > li:hover >a {
    color: #fff;
    text-shadow: 0 0 10px #69e0ff, 0 0 20px #69e0ff, 0 0 40px #69e0ff;
}

.nav__right .navr__user{
    margin-left: 5px;
}
.nav__right .header__download{
    padding: 0 50px;
    background-color:#ffcf0d;
}

.nav__right > .header__download > a {
    color: #534328;
}
/* news */
#news__highlight {
    width: 100%;
    height: 700px;
    position: relative;
}

.news__bg {
    background-image: url(/genshin/assets/img/New/slider\ bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    opacity: 0.7;
    position: relative;
}

.items__highlight{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.items__highlight .list__items {
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0px;
    width: auto;
    list-style-type: none;
}

.items__highlight li {
    width: 420px;
    height: 450px;
    position: relative;
    background-color: rgba(18,18,18,0.8);
    margin: 150px 5px 0px;
}

.items__highlight li:hover img {
    transform: scale(1.15);
}

.items__highlight .imgwrap {
    width: 380px;
    height: 200px;
    margin: 20px auto;
    overflow: hidden;
}

.items__highlight img {
    width: 100%;
    height: 100%;
    transition:all 0.5s 0s ease;
}

.items__highlight a{
    text-decoration: none;
    color: #f7f5e1;
}

.items__highlight h3 , .items__highlight p{
    margin: 0 20px 20px;
}

.items__highlight h3{
    font-size: 22px;
    font-weight: lighter;
    line-height: 32px;
}

.news__tail {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.news__tail .date{
    color: #77837c;
}

.news__tail .support{
    color: #f5bf22;
}

#wrap__content{
    background-color: #f0f0f0;
    height: auto;
    width: 100%;
    margin: 0 auto;
    position: relative;
    padding: 40px 0;
}

.category , .news{
    width: 90%;
    margin: -40px 5% 60px;
    position: relative;
}

.list__category{
    display: flex;
    list-style-type: none;
    padding-top: 40px;
}

.category li{
    min-width: 150px;
    height: 32px;
    line-height: 32px;
    background-color: rgba(57,59,64,0.18);
    margin-right: 20px;
    color: #393b40;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}

.category a{
    text-decoration: none;
}
.category li:hover , .category li:hover a{
    background-color: #393b40;
    color: #f4ce84;
}
/* fa */
.category .active {
    color: #f4ce84;
    background-color: #393b40;
}

.news .list__news{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: auto;
    width: 100%;
    list-style-type: none;
}

.news li{
    height: 160px;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #fafafa;
    position: relative;
    border: 3px solid #f0f0f0;
    transition: 0.2s linear;
}

.news li:hover{
    border: 3px solid rgba(57,59,64,0.15);
    background-color: #fff;
}

.news a{
    display: flex;
    text-decoration: none;
}

.news .news__img{
    height: 140px;
    width: 265px;
    padding-right: 15px;
}

.news__img img {
    width: 100%;
    height: 100%;
}

.news__info {
    width: 915px;
}

.news__info h3 {
    font-size: 24px;
    font-weight: lighter;
    color: #394057;
    padding-bottom: 15px;
}

.news__info p{
    color: #394057;
    opacity: 0.6;
}

.news__meta{
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    margin:20px;
    font-size: 14px;
}

.news__meta .date{
    color: #394057;
    opacity: 0.6;
    margin-right: 40px;
}

.news__meta .support{
    color: #f4ce84;
}

.news .viewmore {
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #393b40;
    border-radius: 5px;
    margin-top: 20px;
    color: #fff;
    font-size: 18px;
    opacity: 0.8;
    border: none;
}

.news .viewmore:hover{
    opacity: 0.6;
    background-color: #393b40;
    color: #fff;
    border: none;
    cursor: pointer;
}

.news .news__hidden{
    display: none;
}

/* color category js */
.support.yellow{
    color: #ffc000;
}

.support.blue{
    color: #69e0ff;
}

.support.green{
    color: #9c3;
}

/* footer */
#footer{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #111;
}

.footer__top{
    height: 52px;
    line-height: 52px;
    display: flex;
    justify-content: space-between;
}

.footer__icons {
    margin-left: 40px;
    font-size: 30px;
}

.footer__icons .list__icons {
    list-style-type: none;
    display: flex;
}

.list__icons li{
    padding: 0 16px;
}

.list__icons li:hover a{
    color: #fff;
}

.list__icons a{
    text-decoration: none;
    color: #999;
}

.footer__languages{
    font-size: 30px;
    margin-right: 40px;
}
.languages__block {
    display: flex;
    list-style-type: none;
}
.languages__block li{
    padding: 0 12px;
    position: relative;
}

.languages__block a{
    text-decoration: none;
    color: #999;
}

.languages__block li p{
    font-size: 18px;
    user-select: none;
}

.languages__block > li > .footer__ic-arrow {
    font-size: 20px;
    padding-bottom: 10px;
}

.footer__languages-wrap {
    display: none;
}

.footer__languages .list__languages {
    position: absolute;
    z-index: 5;
    width: 500px;
    height: 160px;
    right: 0px;
    top: -160px;
    font-size: 18px;
    background: #222;
    color: #999;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    list-style-type: none;
    align-items: center;
    user-select: none;
}

.footer__languages li {
    padding: auto;
}

.list__languages li:hover a {
    color: #fff;
}

.footer__main {
    background-color: #111;
    padding: 40px 0px;
}

.footer__wrap {
    margin: 0 auto;
    color: #999;
}

.footer__content {
    display: flex;
    align-items: center;
}

.footer__content-logo , .footer__content-info{
    width: 45%;
}

.footer__content-logo {
    display: flex;
    align-items: center;
    margin-left: 15%;
}

.footer__content-logo .img__logo , .footer__content-logo .img__game {
    padding: 0 20px;
}

.footer__content-logo .img__logo {
    border-right: #fff solid 1px;
}

.footer__content-info {
    margin-right: 10%;
}

.footer__content-info .text {
    padding: 10px 0px;

}

.footer__content-info .links a{
    text-decoration: none;
    color: #999;
    border-left: #fff solid 1px;
    padding: 2px 10px 0px;
}

.footer__content-info .links a:hover {
    color: #fff;
    text-decoration: underline;
}

.footer__content-info .coppy__right {
    color: #fff;
    font-size: 18px;
}

.footer__content-info .extra__info {
    font-size: 14px;
}

.modal {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.4);
    /* sd để ẩn modal đi */
    display: none;
    /* display: flex; */
    justify-content: center;
    align-items: center;
}

.modal.open {
    display: flex;
}

.modal__container {
    background-color: #fff;
    width: 800px;
    max-width: calc(100% - 32px); /* khi thu nho man duoi 800px se co khoang cach 2 ben la 32px ~~ responsive*/
    min-height: 300px;
    animation: modalFadeIn ease 0.5s ;
}

.modal__header {
    background-color: #000;
    opacity: 0.3;
    height: 70px;
    width: auto;
    text-align: center;
}

.modal__header img {
    height: 100%;
}

.modal__close {
    font-size: 24px;
    float: right;
}

.modal__close:hover .modal__close-ic {
    background-color: red;
    color: #fff;
}

.modal__close-ic {
    padding: 10px;
    cursor: pointer;
    color: #ccc;
}

.modal__body {
    padding: 10px;
    margin: 45px 24px 0px;
}

.modal__label , .modal__login{
    display: block;
    font-size: 18px;
    margin-bottom: 12px;
}

.modal__input-user , .modal__input-pass {
    width: 100%;
    border: 1px #ccc solid;
    padding: 10px;
    margin-bottom: 22px;
}

.modal__login {
    width: 100%;
    padding: 10px;
    font-size: 22px;
    background-color: #3b4354;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}

.modal__login:hover {
    opacity: 0.8;
}

.modal__footer {
    margin: 0 34px;
}

.modal__footer-head {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    padding: 10px;
    margin-top: -10px;
}


.modal__footer-head a {
    text-decoration: none;
    color: #000;
}

.modal__footer-head a:hover{
    opacity: 0.3;
}

.modal__footer-subhead {
    text-align: center;
    opacity: 0.3;
}

.modal__footer-icon {
    width: 50px;
    height: 50px;
    display: flex;
    margin: 12px auto;
}

.modal__footer-icon img {
    width: 100%;
    height: 100%;
    margin: 0 15px;
    cursor: pointer;
}

.modal__footer-icon img:hover {
    opacity : 0.8;
}

@keyframes modalFadeIn {
    from {
        transform: translateY(-200px);
        opacity: 0;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

/* responsive */
.header-nav__menu{
    display: none;
}

.nav__close{
    display: none;
}

/* update header fix*/
.nav.block{
    display: block;
}

/* news highlight */
.btn__news-hl--next , .btn__news-hl--prev{
    display: none;
}

.list__btn-dot{
    display: none;
}

.active_dot{
    color: #000;
}